<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="tecladoController">
    <div class="container" >
    <div class="content">
    <div class="row">

    <div  data-example-id="bordered-table">
      <div class="col-md-12 btn-toolbar">

        <button type="button" class="btn btn-info btn-group">Coluna 1</button>
        <button type="button" class="btn btn-info btn-group">Coluna 2</button>
        <button type="button" class="btn btn-info btn-group">Coluna 3</button>
        <button type="button" class="btn btn-info btn-group">Coluna 4</button>
        <button type="button" class="btn btn-info btn-group">Coluna 5</button>
        <button type="button" class="btn btn-info btn-group">Coluna 6</button>
        <button type="button" class="btn btn-info btn-group">Coluna 7</button>

      </div>

    </div>

    </div>

  </br>

    <div class="row">
    <div  data-example-id="bordered-table">
    <div class="col-md-12 btn-toolbar">

        <button type="button" class="btn btn-info btn-group">Linha 1</button>
        <button type="button" class="btn btn-info btn-group">Linha 2</button>
        <button type="button" class="btn btn-info btn-group">Linha 3</button>
        <button type="button" class="btn btn-info btn-group">Linha 4</button>
        <button type="button" class="btn btn-info btn-group">Linha 5</button>
        <button type="button" class="btn btn-info btn-group">Linha 6</button>

    </div>
  </div>

    </div>
  </div>
</div>
</div>

<!--



      <div class="col-md-12 btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-warning btn-group col-md-1 enter" click-temporal ng-click="adicionar_tecla('enter')">
            <span> Pula Linha</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('maiu')">
            <span class="glyphicon glyphicon-resize-full"> Maiúsculas</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('minu')">
            <span class="glyphicon glyphicon-resize-small"> Minúsculas</span>
        </button>
        <button type="button" class="col-md-2 btn btn-success btn-group" click-temporal ng-click="adicionar_tecla()">
          OK
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('acento')">
            <span class="glyphicon glyphicon-text-background"> Acentos</span>
        </button>
        <button type="button" class="col-md-2 btn btn-danger btn-group" click-temporal ng-click="backspace()">
            <i class="glyphicon glyphicon-remove-circle"> Apagar</i>
        </button>
      </div>
-->
  </body>
</html>
