<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="tecladoController">
    <div class="row">

    <div class="bs-example col-md-9" data-example-id="bordered-table">
      <table class="table table-bordered table-responsive table-hover">
        <thead>
          <tr>
            <th></th>
            <th click-temporal ng-click="pula_coluna($index+1)" coluna="{{$index+1}}" data-id="coluna" ng-value="x" ng-repeat="x in [1, 2, 3, 4, 5, 6, 7]">
              <span class="coluna">Coluna {{x}}</span>
            </th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <th scope="row" linha=1 class="text-center ativo col-md-1" click-temporal ng-click="pula_linha(1)"><span class="linha">Linha 1</span></th>
              <td linha=1 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[0]">{{i}}</td>
            </tr>
            <tr>
              <th scope="row" linha=2 class=" text-center col-md-1" click-temporal ng-click="pula_linha(2)"><span class="linha">Linha 2</span></th>
              <td linha=2 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[1]">{{i}}</td>
            </tr>
            <tr>
              <th scope="row" linha=3 class=" text-center col-md-1" click-temporal ng-click="pula_linha(3)"><span class="linha">Linha 3</span></th>
              <td linha=3 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[2]">{{i}}</td>
            </tr>
            <tr>
              <th scope="row" linha=4 class=" text-center col-md-1" click-temporal ng-click="pula_linha(4)"><span class="linha">Linha 4</span></th>
              <td linha=4 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[3]">{{i}}</td>
              <td linha=4 coluna=7 class="col-md-1" style="font-size: 25px;" > <i class="glyphicon glyphicon-save"> Espaço</i></td>
            </tr>
            <tr>
              <th scope="row" linha=5 class=" text-center col-md-1" click-temporal ng-click="pula_linha(5)"><span class="linha">Linha 5</span></th>
              <td linha=5 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[4]">{{i}}</td>
            </tr>

            <tr>
              <th scope="row" linha=6 class=" text-center col-md-1" click-temporal ng-click="pula_linha(6)"><span class="linha">Linha 6</span></th>
              <td linha=6 coluna="{{$index+1}}" class = "col-md-1" ng-repeat="i in alfabeto[5]">{{i}}</td>
            </tr>

          </tbody>
          </table> </div>
          <div class="col-md-3">
            <textarea rows="16" cols="13" style="font-size:30px;">{{frase_total}}</textarea>
            <br class="underline">
            <br>
            <div class="btn btn-primary col-md-10" click-temporal ng-click="add_palavra(palavras[0].texto)" style="height: 95px; font-size:30px;">
              {{palavras[0].texto}}
            </div>

          </div>
        </div>

      <div class="col-md-12 btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-warning btn-group col-md-1 enter" click-temporal ng-click="adicionar_tecla('enter')">
            <span> Pula Linha</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('maiu')">
            <span class="glyphicon glyphicon-resize-full"> Maiúsculas</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('minu')">
            <span class="glyphicon glyphicon-resize-small"> Minúsculas</span>
        </button>
        <button type="button" class="col-md-2 btn btn-success btn-group" click-temporal ng-click="adicionar_tecla()">
          OK
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('acento')">
            <span class="glyphicon glyphicon-text-background"> Acentos</span>
        </button>
        <button type="button" class="col-md-2 btn btn-danger btn-group" click-temporal ng-click="backspace()">
            <i class="glyphicon glyphicon-remove-circle"> Apagar</i>
        </button>


      </div>
  </body>
</html>
