<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="tecladoController">
    <div class="container" >
    <div class="content">
    <div class="row">

    <div  data-example-id="bordered-table">
      <div class="col-md-12">
          <textarea rows="5" cols="50" style="font-size:30px;">{{frase_total}}</textarea>
          <br class="underline">
          <br>
      </div>

      <div class="col-md-12">

        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(1)" coluna=1 data-id="coluna">Coluna 1</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(2)" coluna=2 data-id="coluna">Coluna 2</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(3)" coluna=3 data-id="coluna">Coluna 3</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(4)" coluna=4 data-id="coluna">Coluna 4</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(5)" coluna=5 data-id="coluna">Coluna 5</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(6)" coluna=6 data-id="coluna">Coluna 6</button>
        <button type="button" class="btn btn-info btn-group" click-temporal ng-click="pula_coluna(7)" coluna=7 data-id="coluna">Coluna 7</button>

      </div>

    </div>

    </div>

    <div class="col-md-12">
        <br>
        <button type="button" class="btn btn-warning btn-group">Pular Linha </button>
        <span id="letra"> {{letra}} </span>
        <button type="button" class="btn btn-success btn-group ok" click-temporal ng-click="adicionar_tecla()">  Confirma  </button>
        <br class="underline">
        <br>
    </div>

    <div class="row">
    <div  data-example-id="bordered-table">
    <div class="col-md-12">

        <button type="button" class="btn btn-info btn-group" scope="row" linha=1 click-temporal ng-click="pula_linha(1)" >Linha 1</button>
        <button type="button" class="btn btn-info btn-group" scope="row" linha=2 click-temporal ng-click="pula_linha(2)" >Linha 2</button>
        <button type="button" class="btn btn-info btn-group" scope="row" linha=3 click-temporal ng-click="pula_linha(3)" >Linha 3</button>
        <button type="button" class="btn btn-info btn-group" scope="row" linha=4 click-temporal ng-click="pula_linha(4)" >Linha 4</button>
        <button type="button" class="btn btn-info btn-group" scope="row" linha=5 click-temporal ng-click="pula_linha(5)" >Linha 5</button>
        <button type="button" class="btn btn-info btn-group" scope="row" linha=6 click-temporal ng-click="pula_linha(6)" >Linha 6</button>
        <button type="button" class="btn btn-danger btn-group" click-temporal ng-click="backspace()"> Apagar </button>

    </div>
  </div>

    </div>
  </div>
</div>
</div>

<!--

      <div class="col-md-12 btn-toolbar" role="toolbar">
        <button type="button" class="btn btn-warning btn-group col-md-1 enter" click-temporal ng-click="adicionar_tecla('enter')">
            <span> Pula Linha</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('maiu')">
            <span class="glyphicon glyphicon-resize-full"> Maiúsculas</span>
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('minu')">
            <span class="glyphicon glyphicon-resize-small"> Minúsculas</span>
        </button>
        <button type="button" class="col-md-2 btn btn-success btn-group" click-temporal ng-click="adicionar_tecla()">
          OK
        </button>
        <button type="button" class="btn btn-info btn-group col-md-2" click-temporal ng-click="zerar('acento')">
            <span class="glyphicon glyphicon-text-background"> Acentos</span>
        </button>
        <button type="button" class="col-md-2 btn btn-danger btn-group" click-temporal ng-click="backspace()">
            <i class="glyphicon glyphicon-remove-circle"> Apagar</i>
        </button>
      </div>
-->
  </body>
</html>
